* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif, sans-serif;
}

textarea,
label,
input,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
}
.section-heading {
    margin-bottom: 24px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header__action-link {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
    text-decoration: none;
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header__action-btn {
    --height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 78px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border: 3px solid #fff;
    border-radius: 16px;
}
.hero__img {
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -60px;
    bottom: 10px;
}
.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__img-small {
    padding-top: 24px;
}
.hero__img-wrap-small {
    max-width: 186px;
    max-height: 244px;
    margin: 0 0 -58px -23px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    align-self: flex-end;
}

.hero__list {
    position: absolute;
    padding: 14px 18px;
    width: 250px;
    height: 156px;
    bottom: 0;
    left: 129px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: #fec23f;
    border-radius: 10px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__sekeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    margin: 20px 0;
    background: #f2f2f2;
    height: 2px;
    border-radius: 99px;
}

.hero__desc {
    width: 391px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}

/* About */
.about {
    margin: 77px 0;
    padding: 53px 0;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 108px;
}

/* About 1 */
.about__label {
    margin-bottom: 15px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}
.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about__check-item::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check-item::after {
    position: absolute;
    content: url("../icon/checked.svg");
    top: 2px;
    left: 4px;
}
/* About 02 */
.about__media {
    position: relative;
}
.about__card {
    position: absolute;
    padding: 30px 26px;
    width: 136px;
    top: 165px;
    left: -55px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}
.about__card-title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #ffffff;
}
.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}
.about__card-decor {
    position: absolute;
    top: -40px;
    right: -32px;
}
.about__img-wrapper {
    position: relative;
    width: 494px;
    margin-left: auto;
}
.about__img-wrapper::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
}
.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
}
